<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
<!-- Half Page Image Background Carousel Header -->
<header class="carousel slide">
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="fill" id="map"></div>
    </div>

</header>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Hello World</h1>
</div>
</body>

</html>
