<?php

return [
    'twig_config' => [
        'twig.path' => __DIR__ . '/../src/Templates',
        'twig.options' => [
            'cache' => __DIR__ . '/../app/cache/template',
            'auto_reload' => true
        ]
    ],
    'monolog_config' => [
        'monolog.logfile' => __DIR__ . '/logs/log.log'
    ],
    'db_config' => [
        'db.options' => [
            'driver'   => 'pdo_sqlite',
            'path'     => __DIR__ . '/db/app.db',
        ]
    ],
    'debug' => true,
    'settings' => [
        'cache_ttl' => 3600,
        'search_radius' => '50km'
    ]
];
